$primary-color: #0f3cc9;
$primary-color-deep: #0a2885;
$text-color-primary: #fff;
$text-color-secondary: #000;

.main-header {
  background-color: $primary-color;
  .navbar {
    display: flex;
    flex-direction: row;
    padding: 1.4rem 0;
    .brand {
      margin-right: 2rem;
      .logo {
        width: 100%;
        max-width: 70px;
      }
    }
  }
}

// Menu Box main
.navbar-menu-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  .navbar-menu-list {
    list-style: none;
    display: flex;
    .navbar-menu-item {
      padding: 0 0.8rem;
      .navbar-menu-link {
        text-decoration: none;
        font-size: 1.2rem;
        color: $text-color-primary;
        transition: .2s ease;
        &:hover{
            text-decoration: underline;
            opacity: 0.8;
        }
      }
    }
  }
}

// Action box
.action-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
// Action content
.action-content {
  display: flex;
  flex-direction: row;
  .action-item {
    display: block;
    margin: 0 0.5rem;
    padding: 0.5rem;
    line-height: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      background-color: $primary-color-deep;
    }
    .action-icon {
      width: 28px;
      filter: invert(1);
      opacity: 0.8;
    }
  }
}

// Search box
.search-box {
  background-color: $primary-color-deep;
  padding: 0.5rem 3rem;
  border-radius: 1.5rem;
  position: relative;
  .inputbox {
    border: none;
    font-size: 1.2rem;
    color: $text-color-primary;
    background-color: transparent;
    max-width: 100%;
    &:focus {
      box-shadow: none;
      outline: none;
    }
    &::placeholder {
      color: $text-color-primary;
    }
  }
  &::before {
    content:'\26B2';
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    font-size: 1.5rem;
    color:$text-color-primary;
  }
}
