$background-color: #f5f5f5;
$text-color-light: #000000ab;
$text-color-dark: #000;
$menu-hover-color: #eee;

$primary-color: #0f3cc9;
$primary-color-deep: #0a2885;

.main-footer {
  background-color: $background-color;
  .top-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5rem 0;
  }
}

// footer menu div
.footer-menu-div {
  width: 100%;
  max-width: 200px;
  .menu-heading {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  .footer-menu-list {
    list-style: none;
    .footer-menu-item {
      padding: 0.5rem 0.4rem;
      .footer-menu-link {
        text-decoration: none;
        color: $text-color-light;
        font-size: 1rem;
      }
      &:hover {
        background-color: $menu-hover-color;
      }
    }
  }
}

// Footer info menu
.footer-info-menu {
  width: 100%;
  max-width: 375px;
  .heading1 {
    font-size: 1.5rem;
  }
  .heading2 {
    margin: 1rem 0;
    font-size: 1.6rem;
  }
  .social-box {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    .social-item {
      padding: 0.4rem;
      line-height: 0.4rem;
      background-color: $primary-color;
      margin: 0 0.2rem;
      border-radius: 50%;
      .social-icon {
        width: 22px;
        filter: invert(1);
      }
      &:hover {
        background-color: $primary-color-deep;
      }
    }
  }
  .download-box {
    display: flex;
    flex-wrap: wrap;
    .download-link {
      display: block;
      padding: 0 10px;
      .download-link-img {
        width: 100%;
        max-width: 140px;
      }
    }
  }
}
